<!--Template: login page -->
<div id="login-container" class="container-fluid">
    <div class="py-5 clearfix">
        <form class="pr-5 float-right text-colour-white" name="loginForm" ng-submit="login()">
            <div class="form-group">
                <h4>LOGIN</h4>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" data-ng-model="email" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <span uib-tooltip="{{errorMessage}}" tooltip-trigger="blur" tooltip-is-open="errorMessage != null" tooltip-placement="left">
                        <input type="password" class="form-control" id="password" name="password" data-ng-model="password" required ng-class="{'is-invalid':loginForm.password.$touched && loginForm.password.$error.invalid || errorMessage != null}"
                        />
                    </span>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" data-ng-disabled="loginForm.$invalid" value="LOGIN" />
            <span>Forgot Your Password?</span>
            <p class="pt-2">
                <a href="#register">
                    <span>NOT A MEMBER? SIGN UP NOW</span>
                </a>
            </p>
        </form>
    </div>
</div>