<!--Template: register page -->
<div class="container pt-2 w-75" id="body-container">
    <h1>REGISTERATION</h1>
    <div class="row">
        <div class="col-lg-6">
            <form class="form-group" name="registerForm" data-ng-submit="createUser()">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname" data-ng-model="fname" letter ng-class="{'is-invalid':registerForm.fname.$touched && registerForm.fname.$error.letter}"
                        />
                        <small ng-show="registerForm.fname.$touched && registerForm.fname.$error.letter" id="firtnameHelp" class="form-text text-danger">First Name is required. Name must be letters only</small>
                    </div>
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lname" data-ng-model="lname" letter ng-class="{'is-invalid':registerForm.lname.$touched && registerForm.lname.$error.letter}"
                        />
                        <small ng-show="registerForm.lname.$touched && registerForm.lname.$error.letter" id="lastnameHelp" class="form-text text-danger">Last Name is required. Name must be letters only</small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" data-ng-model="email" required ng-change="errorMessage = null"
                            ng-class="{'is-invalid':registerForm.email.$touched && registerForm.email.$invalid || errorMessage!= null}"
                        />
                        <small ng-show="registerForm.email.$touched && registerForm.email.$invalid || errorMessage!= null" id="emailHelp" class="form-text text-danger">Please Input Email</small>
                    </div>

                    <div class="form-group col-md-6 col-lg-12">
                        <label for="mobile ">Mobile</label>
                        <input class="form-control" type="text" id="mobile" name="mobile" data-ng-model="mobile" mobile ng-class="{'is-invalid':registerForm.mobile.$touched && registerForm.mobile.$error.mobile}"
                        />
                        <small ng-show="registerForm.mobile.$touched && registerForm.mobile.$error.mobile" id="mobileHelp" class="form-text text-danger">Must start with 04 and 10 digits format</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" data-ng-model="password" password ng-class="{'is-invalid':registerForm.password.$touched && registerForm.password.$error.password}"
                        />
                        <small ng-show="registerForm.password.$touched && registerForm.password.$error.password" id="passwordHelp" class="form-text text-danger">Must has at least 1 character, 1 number, 1 special character and more than 8</small>
                    </div>
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="passwordCF">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordCF" name="passwordCF" ng-keydown="checking(password)" data-ng-model="passwordCF"
                            ng-class="{'is-invalid':registerForm.passwordCF.$touched && !checking(password)}" />
                        <small data-ng-show=" registerForm.passwordCF.$touched && !checking(password) " id="passwordConfirmHelp" class="form-text text-danger ">Password doesn't match</small>
                    </div>
                </div>
                <div class="form-group" ng-init="gender = 'male'">
                    <label>Gender</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" id="male" ng-model="gender" value="male" />
                        <label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" id="female" ng-model="gender" value="female" />
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="address ">Address</label>
                        <input type="text" class="form-control" id="address" name="address" data-ng-model="address" required ng-class="{'is-invalid':registerForm.address.$touched && registerForm.address.$error.required}"
                        />
                        <small ng-show="registerForm.address.$touched && registerForm.address.$error.required" id="addressHelp" class="form-text text-danger">Please Input Address</small>
                    </div>
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="suburb ">Suburb</label>
                        <input type="text" class="form-control" id="suburb" name="suburb" data-ng-model="suburb" required ng-class="{'is-invalid':registerForm.suburb.$touched && registerForm.suburb.$error.required}"
                        />
                        <small ng-show="registerForm.suburb.$touched && registerForm.suburb.$error.required" id="suburbHelp" class="form-text text-danger">Please Input Suburb</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-12">
                        <label for="postCode ">Post Code</label>
                        <input class="form-control" type="text" id="postCode" name="postCode" data-ng-model="postCode" postcode ng-class="{'is-invalid':registerForm.postCode.$touched && registerForm.postCode.$error.postcode}"
                        />
                        <small ng-show="registerForm.postCode.$touched && registerForm.postCode.$error.postcode" id="postCodeHelp" class="form-text text-danger">Must be 4 digits format</small>
                    </div>
                    <div class="form-group col-md-6 col-lg-12">
                        <label>State</label>
                        <select class="form-control" ng-model="selectedState" required>
                            <option value="">Select Your State</option>
                            <option ng-repeat="state in stateAvailable" value="{{state}}">{{state}}</option>
                        </select>
                    </div>
                </div>

                <span class="text-info clickable" data-toggle="collapse" data-target="#termsAndCondition">*Terms and Condition</span>
                <div id="termsAndCondition" class="collapse form-group">
                    Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample
                    Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text
                    Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample
                    Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text
                    Sample Text
                </div>

                <div class="pt-2">
                    <input class="btn btn-warning text-white" type="submit" data-ng-disabled="registerForm.$invalid" value="SUBMIT " />
                    <input class="btn btn-danger" type="Reset" value="CLEAR " />
                </div>
            </form>
            <p ng-show="errorMessage!= null">{{errorMessage}}</p>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <!-- Aside section with company info -->
                <aside class="col-md-6 col-lg-12">
                    <address>
                        <p>
                            <strong>WatchStyle Shop</strong>
                            <br/> Visit us at:
                            <br/> Room 301, Level 3, 125 Bourke St. Melbourne 3000.
                            <br/> (03) 5317 8198
                            <br/>
                            <a href="mailto:hoang.nguyen.swi@gmail.com">info@shoesstyle.com.au</a>
                            <br/>
                        </p>
                        <p>
                            <strong>Trading Hours</strong>
                            Monday - Friday: 9am - 7pm
                            <br/> Saturday - Sunday: 10am - 5pm
                        </p>
                    </address>
                </aside>
            </div>
        </div>
    </div>
</div>